.categories {
  position: absolute;
  z-index: 2;
  background-color: white;
  top: -43px;
  bottom: -23px;
  transition: left .5s ease 0s;
  a {
    width: 250px;
  }
  .items {
    display: flex;
    flex-direction: column;
    padding: 0;
      .button {
        width: 100%;
        text-align: start;
        border: none;
        background-color: white;
        padding: 15px 35px;
        font-size: 1rem;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
  }
}

.overlay {
  position: absolute;
  z-index: 1;
  top: -43px;
  left: 0;
  right: 0;
  bottom: -23px;
  border-radius: 23px;
  background: rgba(0, 0, 0, 0.3);
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-fill-mode: both;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


