.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
  height: fit-content;
  border-radius: 12px;
  background-color: #f3f3f3;
  @media (max-width: 768px) {
    width: 70%;
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    button {
      width: 49%;
      padding: 10px;
      border: none;
      background-color: #cb11ab;
      color: #fff;
      font-size: large;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      &.loginBtn {
        border-radius: 12px 0 0 0;
      }
      &.registrationBtn {
        border-radius: 0 12px 0 0;
      }
      &:hover {
        background-color: #e313bf;
      }
    }
  }
}
