@use "/src/scss/mixins" as *;

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  .modalContent {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    background-color: white;
    width: 60vw;
    height: fit-content;
    @include small {
      width: 90vw;
    }
  }
} 
