.modalContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
  height: 90%;
  margin: 40px 0px;
  .modalContentImg {
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
  }
  div {
    .modalContentTitle {
      margin-bottom: 1rem;
      font-size: xx-large;
      font-weight: bold;
    }
    .modalContentPrice {
      margin-bottom: 1rem;
      font-size: x-large;
      font-weight: bold;
    }
    .modalContentDescription {
      margin-bottom: 2rem;
      font-size: large;
      text-align: justify;
    }
    input {
      display: block;
      height: 50px;
      min-width: 40%;
      background-color: #cb11ab;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      &:hover {
        background-color: #e313bf;
      }
    }
  }
}
