@use "/src/scss/mixins" as *;

$linkColor: rgb(131 26 153);

.orderInfo {
  width: 300px;
  height: fit-content;
  padding: 20px;
  background-color: #f6f6fa;
  border-radius: 16px;
  .total {
    @include flex();
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: bold;
  }
  .amount {
    @include flex();
    font-size: larger;
    margin-bottom: 0.5rem;
  }
  .delivery {
    @include flex();
    margin-bottom: 1rem;
    font-size: larger;
  }
  input {
    display: block;
    height: 2.5rem;
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: #cb11ab;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    &:hover {
      background-color: #e313bf;
    }
  }
  a {
    p {
      text-align: center;
      color: $linkColor;
    }
    &:active {
      color: $linkColor;
    }
    &:visited {
      color: $linkColor;
    }
  }
}
